<!DOCTYPE html>
<html>
  <head>
    <title>CdsLabInstagramDog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-dark bg-faded" style="border-radius: 0; background-color: #B3E5FC">
    <%= link_to "CoderPhoto", root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <li class="nav-item active" style="margin-top: 5px;">
        Timeline
      </li>
    </ul>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</html>
